.frame {
    background-image: linear-gradient(to top right, #43389F 0%, #4ec6ca 100%);
}

.hundred {
    position: relative;
    
    display: flex;
    width: 200px;
    height: 100px;
}
.number{
    position: absolute;
    
    box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.2);
}
.hundred .one-one{
    left: -12px;
    top: 0;

    width: 24px;
    height: 44px;
    border-radius: 4px;

    background-color: #fff;

    rotate: 50deg;
}
.hundred .one-two{
    z-index: 2;
    left: 4px;
    top: 0;

    width: 24px;
    height: 100%;
    border-radius: 4px;
    
    background-color: #fff;
}

.hundred .zero-one {
    z-index: 1;
    right: 80px;

    width: 100px;
    height: 100px;
    border: 24px solid #fff;
    border-radius: 50%;
}

.hundred .zero-two {
    right: 0;
    width: 100px;
    height: 100px;
    border: 24px solid #fff;
    border-radius: 50%;
}
.paragraph{
    color: #fff;
    
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
}
.paragraph-one{
    font-size: 80px;
    line-height: 60px;
}
.paragraph-two{
    font-size: 24px;
    letter-spacing: 1px;
}